[submodule "externals/tinygltf"]
	path = externals/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "externals/draco"]
	path = externals/draco
	url = https://github.com/google/draco
[submodule "externals/glm"]
	path = externals/glm
	url = https://github.com/g-truc/glm.git
[submodule "externals/picojson"]
	path = externals/picojson
	url = https://github.com/kazuho/picojson.git
